.all-recipe{
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.all-recipe__card-container{
  display: flex;
  flex-wrap: wrap;
}
@media (max-width:1050px){
  .all-recipe__card-container{
    justify-content: space-between;
  }
}