footer{
  display: flex;
  justify-content: center;
  padding: 40px 0 60px 0;
  background-color: var(--grey-1);
}

footer .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer svg{
  fill: #555555;
  transition: .3s ease;
}
footer svg:hover{
  fill: var(--black);
}
.footer-sosmeds{
  display: flex;
  align-items: center;
}

.footer-sosmeds a{
  display: flex;
  align-items: center;
}

.footer-sosmeds a:not(:last-child){
  margin-right: 40px;
}

@media (max-width:576px){
  footer .container{
    flex-direction: column;
    text-align: center;
  }

  footer p{
    margin-bottom: 1rem;
  }
}