:root{
  --black: #2a2a2a;
}
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80px;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  transition: all .3s ease;
  color: var(--black);
  /* background-color: tomato; */
}

/* .navbar.scroll{
  background-color: rgba(2, 11, 16, .8);
} */

.navbar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar-logo{  
  color: var(--black);
  display: flex;
  justify-content: flex-start;
  font-size: 1.2rem;
  font-weight: 600;
}

.menu-icon{
  display: none;  
  color: var(--black);
  font-size: 1.5rem;
}

.nav-menu{
  display: flex;
}

.nav-item{
  list-style: none;
  margin-left: 40px;
}

.nav-links{
  color: var(--black);
  opacity: .7;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 14px;
}

.active{
  opacity: 1;
  font-weight: 400;
}

.nav-links:hover{
  opacity: 1;
}

@media (max-width:991px){
  .menu-icon{
    display: block;
    cursor: pointer;
  }
  
  .nav-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #020b10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -100vw;
    z-index: -1;
    opacity: 0;
    transition: all .4s ease-in-out;
  }

  .nav-menu.active{
    right: 0;
    opacity: 1;
  }

  .nav-item{
    margin-left: 0;
    padding: 1.5rem 0;
  }

  .nav-links{
    font-size: 1rem;
  }
}