*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: #2a2a2a;
}

body{
  /* background-color: #020D12;
  color: white; */
}

.navbar-container,
.container{
  width: 85vw;
  max-width: 1300px;
}